body {
    background-color: #3da5d1;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: rgb(49, 49, 201);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: rgb(30, 30, 150);
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: justify;
    max-width: 90%;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
